@font-face {
  font-family: 'Cambore';
  src: url('./fonts/Cambore.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Legquinne-Regular';
  src: url('./fonts/Legquinne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arcane Fable';
  src: url('./fonts/Arcane Fable.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
